<h3>{{viewTitle}}</h3>

<form action="/product" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="productName" placeholder="Product Name" value="{{product.productName}}">
        <div class="text-danger">
            {{product.productNameError}}</div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" value="{{product.description}}">
        <div class="text-danger">
            {{product.descriptionError}}</div>
    </div>
    <div class="form-group">
        <label>Category</label>
        <input type="text" class="form-control" name="category" placeholder="Category" value="{{product.category}}">
        <div class="text-danger">
            {{product.categoryError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Price</label>
            <input type="text" class="form-control" name="price" placeholder="Price" value="{{product.price}}">
        </div>
        <div class="form-group col-md-6">
            <label>UOM</label>
            <input type="text" class="form-control" name="uOM" placeholder="UOM" value="{{product.uOM}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/product/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>